name: CI - Build & Push Strapi Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/strapi-app:${{ github.sha }} \
            -t ${{ secrets.DOCKER_USERNAME }}/strapi-app:latest \
            .

      - name: Push Docker images
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/strapi-app:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/strapi-app:latest
